<body>
    <nav>
        <div class="logo">CDrive</div>
        <button id="sign-in" name="sign-in" (click)="loadSignInPage()">Sign in</button>
    </nav>

    <main>
        <div class="text-section">
            <div class="logo">CDrive</div>
            <h1>All your C++ files in one place</h1>
            <p>Cloud based file sharing service for C++ files.</p>
            <button id="sign-in" name="sign-in" (click)="loadSignInPage()">Sign in</button>
        </div>
        <img src="KnightGif.gif" id="knight-gif">
    </main>
</body>