nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        margin-left: 1.5rem;
    }

    button {
        margin-right: 1.5rem;
    }

    border: 1px solid rgb(193, 193, 193);
    border-top: none;
    border-left: none;
    border-right: none;
}


main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    min-height: 30rem;
}

span {
    display: block;

    font-family: inherit;
    font-weight: 700;
    font-size: clamp(2.25rem, 5vw, 3.5rem);
    width: 16ch;
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

p {
    margin: 0;
    font-size: clamp(1rem, 2.2vw, 1.5rem);
    color: rgb(93, 93, 93);
}


#knight-gif {
    display: none;
    flex: 0;
    width: 35%;
    object-fit: contain;
}

.text-section {
    padding-top: 3rem;

    .logo {
        font-size: 2em;
    }

    p {
        padding-bottom: 1rem;
    }

    padding-bottom: 5rem;
}

@media screen and (min-width: 1180px) {
    #knight-gif {
        display: block;
    }

    .text-section {
        padding-left: 5rem;
    }
}