<div class="main">
    <nav>
        <div class="buttons">
            <button class="default-button" (click)="returnToUserPage()">Back</button>
            <button class="gradient-button" (click)="runButtonClick()">Run</button>
        </div>
        <user-icon/>
    </nav>
    <ngx-monaco-editor [options]="editorOptions" [(ngModel)]="code"></ngx-monaco-editor>

    <dialog #terminal class="terminal" id="terminal">
        <button id="close-button" (click)="terminalRef.nativeElement.close()">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000">
                <path
                    d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z" />
            </svg>
        </button>
        <pre id="terminal-output">{{webSocketService.output}}</pre>
        <div class="input-line">
            <pre>Terimnal $</pre>
            <input id="terminal-input" [(ngModel)]="terminalInput" (keyup.enter)="inputEntered()"
                placeholder="Enter input...">
        </div>
    </dialog>
</div>