$backgroundColor: #232323;
$textColor: rgb(255, 255, 255);

:host {
  display: block;
  background-color: $backgroundColor;
  min-height: 100vh;
  width: 100%;
}

nav {
  display: flex;
}

.main {
  height: 80dvh;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: calc(95% - 5rem);
  margin-left: 1rem;

  .loading-bar {
    margin-right: calc(70% - 25rem);
    position: relative;
    display: flex;
    gap: 0.1rem;
    padding-left: 2.75rem;
    background-color: #f6f6f6;
    border-radius: 0.35rem;
    width: 10rem;

    #check-mark {
      align-self: center;
      font-size: 1.6rem;
      position: absolute;
      left: 0.45rem;
    }

    span {
      align-self: end;
      color: #6A6868;
      padding: .5rem;

      font-weight: 700;
      font-size: 1.15rem;
    }
  }
}

.status {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 13rem;
  background-color: #f6f6f6;
  border-radius: 0.4rem;
  padding: .5rem;

  .status-message {
    display: flex;
    gap: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: #6A6868;

    place-items: center;

    .icon {
      position: absolute;
      left: 0.25rem;
      font-size: 1.85rem;
    }

    span {
      padding-left: 2.75rem;
    }
  }
}

.loading-circle {
  align-self: center;
  position: absolute;
  left: 0.25rem;
  width: 1.85rem;
  height: 1.85rem;
  margin-left: 0.5rem;
  border-radius: 50%;
  background: conic-gradient(
      from 0deg,
      #29b9e0 0deg,
      #03045e 180deg,
      #29b9e0 270deg
  );

  animation: spin 1.1s linear infinite;
}

.loading-circle::after {
  content: '';
  position: absolute;
  inset: 0.4rem;
  background: #f3f2f2;
  border-radius: 50%;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotateZ(360deg);
  }
}

button {
  width: 8rem;
  font-size: 1.5rem;
}

user-icon {
  position: absolute;
  top: 1rem;
  right: 0rem;
}

ngx-monaco-editor {
  margin-top: 1.5rem;
  opacity: 1;
  transition: opacity 0.3s ease;
  z-index: 1;
  width: 100%;
  height: 100%;
  position: relative;
}

.main:has(.user:focus) ngx-monaco-editor,
.main:has(.user:hover) ngx-monaco-editor {
  opacity: 0;
  pointer-events: none;
}

#terminal {
  position: relative;
  width: 60dvw;
  height: 60dvh;
  background-color: $backgroundColor;
  border: none;
  border: 0.2rem solid #1a1a1a;
  border-radius: 0.4rem;
}

pre {
  font: inherit;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;

  max-width: 100%;
  overflow-x: auto;
  font-size: 1.5rem;
}

#terminal-output {
  max-height: 48dvh;
  flex: 1;
  overflow-y: auto;
  white-space: pre-wrap;
  margin: 0;
  display: flex;

  flex-direction: column-reverse;
  color: $textColor;
  font-size: 1.25rem;

  &::-webkit-scrollbar {
    width: 0.5rem;
  }

  &::-webkit-scrollbar-track {
    background-color: $backgroundColor;
    width: 0.5rem;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba($textColor, 0.1);
    width: 0.5rem;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: rgba($textColor, 0.3);
  }
}

#close-button {
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  width: 4rem;
  place-items: center;

  background-color: rgb(113, 0, 0);
  background-image: none;
  color: black;
  font-size: 1rem;
  border-radius: 0;

  &:hover {
    background-color: rgb(164, 0, 0);
  }
}

.input-line {
  display: flex;
  margin-top: 1%;
  width: 100%;
  align-items: center;

  pre {
    margin: 0;
    padding-right: 1rem;
    color: $textColor;
  }
}

#terminal-input {
  width: 70%;
  border: none;
  outline: none;
  color: $textColor;
  background-color: transparent;
  height: 2rem;
  border-radius: 0;
}
